/*#7ed56f,#55c57a*/

$color-primary: #55c57a;
$color-primary-light: #73d56f;
$color-primary-dark: #28b485;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // (100%/16)*10
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;
  box-sizing: border-box;
}

.img {
  max-width: 70vw;
  margin: 2vw;
  box-shadow: 0.6rem 0.6rem 0.9rem rgba($color-black, 0.8);
  transition: 0.2s linear all;
  border-radius: 0.2rem;

  &:hover {
    transform: scale(1.04);
    box-shadow: 0.6rem 0.6rem 0.9rem rgba($color-black, 0.5);
  }
}

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.3s;
    font-size: 1.6rem;
    position: relative;

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1px 2rem rgba($color-black, 0.2);

      
      &:after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active {
      transform: translateY(-0.1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    
    &:after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  }
  &--white {
    background-color: $color-white;
    color: $color-gray-dark;
    
    &:after {
      background-color: $color-white;
    }
  }

  &--animated {
    animation: MoveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.code {
  width: 84vw;
  margin: 20px 0;
}

@keyframes MoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
